.DS_Store
node_modules
.svelte-kit
/package
yarn-error.log
.vercel_build_output
build
dist

/yarn-error.log

# umi
.umi
.umi-production
.umi-test
.env.local
# production
docs-dist

# misc
.DS_Store

# ide
.vscode
.idea

.env